---
import Layout from '../layouts/Layout.astro'

import Nav from "../sections/Nav.astro"
import Hero from "../sections/Hero.astro"
import Footer from "../sections/Footer.astro"
---

<Layout>
  <Nav />
  <Hero />
  <main>
    <section>
      ÚLTIMA TECNOLOGÍA
    </section>
    <section>
      NOVEDADES
    </section>
  </main>
  <Footer />
</Layout>