<footer class="bg-black text-zinc-200 text-sm px-24 *:px-6 pt-12 pb-10">
  <section class="flex justify-between mb-16 w-[95%]">
    <article class="flex flex-col gap-1">
      <h4 class="mb-3 text-base text-zinc-400">Busca un distribuidor</h4>
      <form class="flex items-center w-56 border-2 border-zinc-700 rounded-sm p-1.5">
        <img class="mr-2 w-4 h-4" src="icons/earth-globe.svg" alt="Earth globe icon">
        <input placeholder="Ubicación" type="text" class="bg-transparent w-full mr-2 py-0.5" />
        <button class="bg-blue-500 hover:bg-blue-500/60 border border-zinc-400 transition text-sm px-3 py-1 rounded-sm">Búsqueda</button>
      </form>
      <a class="hover:text-zinc-400" href="#"><p>Ver nuestras ubicaciones</p></a>
    </article>
    <article class="flex flex-col gap-1 hover:*:text-zinc-400">
      <h4 class="mb-3 text-base text-zinc-400">Comunidad</h4>
      <a href="#"><p>Galería fotográfica</p></a>
      <a href="#"><p>Foro técnico y de debate</p></a>
      <a href="#"><p>Galería de fondos de pantalla</p></a>
    </article>
    <article class="flex flex-col gap-1 hover:*:text-zinc-400">
      <h4 class="mb-3 text-base text-zinc-400">Noticias e información</h4>
      <a href="#"><p>Registra tu producto</p></a>
      <a href="#"><p>Ofertas y promociones</p></a>
      <a href="#"><p>Centro de prensa</p></a>
      <a href="#"><p>Accesibilidad</p></a>
    </article>
    <article class="flex flex-col gap-1 hover:*:text-zinc-400">
      <h4 class="mb-3 text-base text-zinc-400">Profesional</h4>
      <a href="#"><p>Objetivo y valores de Sony</p></a>
      <a href="#"><p>Responsabilidad social</p></a>
      <a href="#"><p>Sony Ethics & Compliance Hotline</p></a>
      <a href="#"><p>Tecnología</p></a>
      <a href="#"><p>Diseño</p></a>
      <a href="#"><p>Actividad de la marca</p></a>
      <a href="#"><p>Empleo</p></a>
    </article>
  </section>
  <section class="mb-6">
    <div class="flex justify-end gap-x-6 hover:*:text-zinc-400">
      <a href="#"><p>Productos & soluciones profesionales</p></a>
      <a href="#"><p>Contacto</p></a>
      <a href="#"><p>Información empresa</p></a>
    </div>
  </section>
  <section class="flex justify-between pb-6 border-b border-zinc-700">
    <a href="#" class="py-1.5 px-2 bg-zinc-700"><p>España</p></a>
    <div class="flex gap-1 *:py-1.5 *:px-4 *:bg-zinc-700">
      <a href="#"><p>1</p></a>
      <a href="#"><p>2</p></a>
      <a href="#"><p>3</p></a>
      <a href="#"><p>4</p></a>
    </div>
  </section>
  <section class="mt-6 px-6">
    <div class="hover:*:text-zinc-400 uppercase tracking-tight text-xs font-semibold mb-1">
      <a href="#"></a><span class="mr-4">Términos/Condiciones de uso web</span></a>
      <a href="#"></a><span>Política de privacidad</span></a>
    </div>
    <div class="flex justify-between items-center">
      <small>© 2024 Sony Europe B.V.</small>
      <a class="hover:opacity-80 transition" href="#"><img class="h-4" src="icons/sony-group-portal.png" alt="Sony group portal site icon" /></a>
    </div>
  </section>
</footer>