<nav class="bg-black text-white flex justify-between px-20 h-[64px]">
  <a href="/" class="cursor-pointer self-center">
    <img src="icons/sony-logo.svg" width="100px" alt="Sony logo" />
  </a>
  <ul class="flex">
    <li class="flex items-center gap-2 py-6 px-7 cursor-pointer hover:bg-zinc-700 transition duration-200">
      <img class="-ml-2" src="icons/user.svg" alt="User icon" />
      <span class="text-[12.5px] tracking-tight">My Sony</span>
    </li>
    <li class="py-4 px-5 cursor-pointer hover:bg-zinc-700 transition">
      <img src="icons/heart.svg" alt="Heart icon" />
    </li>
    <li class="py-4 px-5 cursor-pointer hover:bg-zinc-700 transition">
      <img src="icons/search.svg" alt="Search icon" />
    </li>
    <li class="py-4 px-5 mr-2.5 cursor-pointer hover:bg-zinc-700 transition">
      <img src="icons/menu.svg" alt="Menu icon" />
    </li>
  </ul>
</nav>